.paymentdialog {
    height: 200px;
    width: 450px;
    background-color: var(--dark-mode);
    z-index: 3;
    position: absolute;
    left: 10px;
    bottom: 130px;
    border-radius: 5px;
    display: flex;
    box-shadow: 1px 1px 4px var(--box-shadow);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.paymentdialog .head {
    width: 95%;
    height: 30px;
    background: linear-gradient(to left, var(--border-clr), var(--border-clr), var(--bg-clr)99%);
    border-radius: 5px;
    margin-inline: auto;
    color: var(--text-clr);
    display: flex;
    align-items: center;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 5px;
}

.paymentdialog .input {
    height: 60px;
    width: 95%;
    margin-inline: auto;
    justify-content: right;
    display: flex;
    align-items: center;
    color: var(--text-clr);
    gap: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.paymentdialog .input  .amount {
    height: 25px;
    border: 1px solid var(--border-clr);
    border-radius: 4px;
    width: 200px;
    background-color: transparent;
    color: var(--text-clr);
}

.paymentdialog .btn {
    display: flex;
    width: 95%;
    margin-inline: auto;
    justify-content: space-between;
}

.paymentdialog .btn button {
    height: 30px;
    background-color: var(--main-clr);
    border: 0px solid var(--border-clr);
    border-radius: 5px;
    color: white;
    padding: 5px;
    cursor: pointer;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.paymentdialog .btn button:hover {
    border: 2px solid var(--hover-clr);
    background-color: var(--button-hover);
}
.paymentdialog .btn .ctrn {
    gap: 2px;
    display: flex;
}

.paymentdialog .btn .ctrn button {
    width: 70px;
    color: white;
}



